---
import BaseLayout from '../layouts/BaseLayout.astro';
import HomeHero from '../components/home/HomeHero';
import BestOfMonth from '../components/home/BestOfMonth';
import AllSaunas from '../components/home/AllSaunas.astro';
import QuickMatch from '../components/home/QuickMatch';
import HowItWorks from '../components/home/HowItWorks.astro';
import WhyChooseUs from '../components/home/WhyChooseUs.astro';
import HomeBlog from '../components/home/HomeBlog.astro';
import SplitStory from '../components/home/SplitStory.astro';
import Contact from '../components/home/Contact.astro';
import { SITE_DESCRIPTION, SEO_KEYWORDS } from '../utils/constants';
import { TITLE_HOME } from '../utils/seo-titles';
---

<link rel="preload" as="image" href="/images/hero/skyline-1.jpg" fetchpriority="high" />

<BaseLayout
  seo={{
    title: TITLE_HOME,
    description: SITE_DESCRIPTION,
    keywords: SEO_KEYWORDS,
  }}
>
  <div id="top"></div>
  <HomeHero client:load />

  <BestOfMonth client:visible />

  <AllSaunas />

  <QuickMatch client:visible />

  <SplitStory />

  <HowItWorks />

  <WhyChooseUs />

  <HomeBlog />

  <Contact />
</BaseLayout>
